body{
    background:#222;
    display:flex;
    justify-content:center;
    margin:20px;
}

.board{
    width:900px;
    height:900px;
    position:relative;
    background:url("image.png");
    background-size:cover;
}

.property{
    position:absolute;
    width:70px;
    height:112px;

    border:2px solid rgb(95, 39, 1);
    background:rgba(255,255,255,.7);

    text-align:center;
    cursor:move;
}

#garden {
    left: 61.8%;
    top: 85.5%;
}

#mominpore {
    left: 78.2%;
    top: 85.5%;
}